
body{
   
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    overflow: hidden;
    
   
}

.loading-screen {
    inset: 0;
    z-index: 999999999999999999999999999;
    background-color: #0D0D0D;
    display: flex;
    top: 0;
    left: 0;
    position: fixed;
}


.item1,.item2,.item3,.item4,.item5,.item6{
    opacity: 0;
    padding-top: 500px;
}

.nav-item .nav-link{
    color: #f1f1f1;
    
}

.open-nav img{
    width: 65%;
    padding: 1rem 0;
}
.open-nav .open-menu{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.open-nav .open-icons{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
   
    z-index: 11;
}
.open-nav{
    
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    z-index: 55555555;
    
    text-align: center;
    transition: all 0.6s ease;
   

}



#toggle-menu{
    cursor: pointer;
}
.side-nav{
    position: fixed;
    top: 0;
    left: 0px;
    width:240px;
    height: 100vh;
    z-index: 5555;
    background-color:#0D0D0D;
    transform: translateX(-100%);
    transition: all 0.6s ease;
    
   
}


.meals .item{
    overflow: hidden;
    position: relative;
    cursor: pointer;
}




.search-div{
    display: none;
}

.modal{
    z-index: 1256014441100;
}

.lemon{
    color: #9ee650ab;
}

.light-green {
    background-color: #d4edda !important;
    color: #155724 !important;
}
.card{
    cursor: pointer;
}

